/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --light: #ffffff;
    --dark: #000000;
    --ternary: #999999
}

/* Common CSS */
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 92px;
    font-weight: 700;
    letter-spacing: 20px;
}
h2{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 20px;
}
h3{
    font-size: 48px;
    font-weight: 600;
}
h4{
    font-size: 28px;
    font-weight: 600;
}
h5{
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 20px;
}
h6{
    font-size: 18px;
    font-weight: 500;
}
ul, li{
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    padding: 0 10px;
}
.titleHeading{
    margin-bottom: 15px;
}
.titleSubHeading{
    margin: 15px 0;
    color: var(--ternary);
}
.description{
    margin-bottom: 30px;
}
.btnLight{
    border: 2px transparent solid;
    border-radius: 30px;
    outline: none;
    padding: 10px 20px;
    background-color: var(--light);
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.2s linear;
}
.btnLight:hover{
    border-color: var(--light);
    background-color: transparent;
    color: var(--light);
}
.containerCustom{
    padding: 0 60px;
}
.br-20{
    border-radius: 50%;
}
body{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--light);
    line-height: 30px;
    overflow-x: hidden;
    background-color: var(--dark);
}
/* Banner CSS */
.banner{
   background-image: url(../images/MainBackground.png), linear-gradient(to right, #000, #000);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}
.banner .scrollDown{
    height: 100vh;
    padding-bottom: 15px;
}
.scrollDown i{
    font-size: 28px;
    animation: upDown 0.5s linear infinite alternate;
}
@keyframes upDown{
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0px);
    }
}
.banner h3{
    color: var(--ternary);
}

/* Header CSS */
header{
    position: sticky;
    top: 0;
    background-color: var(--dark);
    z-index: 100;
}
nav a.navBrand{
    font-size: 28px;
    color: var(--light);
    font-weight: 600;
}
nav ul li a{
    color: var(--light);
    transition: all 0.5s linear;
    border-bottom: 2px transparent solid;
}
nav ul li a:hover{
    color: var(--light);
    border-color:var(--light);
}

/* About Me Css */
.aboutMe, .experience{
    padding: 60px 0;
}

/* Experience CSS */
.experience ul li{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 60px 30px;
}
.inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    margin: 0;
    background: var(--dark);
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.circle .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: var(--light);
}
.progress.html{
    clip: rect(0px, 200px, 200px, 20px);
}
.progress.css{
    clip: rect(0px, 200px, 200px, 40px);
}
.progress.js{
    clip: rect(0px, 200px, 200px, 60px);
}
.progress.react{
    clip: rect(0px, 200px, 200px, 60px);
}
.progress.adobexd{
    clip: rect(0px, 200px, 200px, 0px);
}
.progress.figma{
    clip: rect(0px, 200px, 200px, 40px);
}
.progress.photoshop{
    clip: rect(0px, 200px, 200px, 100px);
}
.progress.illustrator{
    clip: rect(0px, 200px, 200px, 100px);
}